<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>

    <nav class="navbar navbar-dark  bg-primary navbar-expand-lg">

        <a class="navbar-brand" href="/"><img src="images/logo.png" width="30" height="30"
                                              class="d-inline-block mr-1 align-bottom" alt=""> jUTek</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/"> Start </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/billStatement"> Zestawienie rachunków </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addBill"> Dodaj rachunek </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addBill"> Statystyka </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newUser"> Nowy użytkownik </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Kontakt </a>
                </li>
            </ul>

            <a id="test" href="/logout" class="btn btn-info btn-md">
                <span class="glyphicon glyphicon-log-out"></span> Wyloguj
            </a>


        </div>
    </nav>
</header>


<footer style="text-align: center">

    <p><span style="text-decoration:none;color:grey;">Developed by KrUcHy</span>
    </p>

</footer>
</body>
</html>