<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>System do rozliczania rachunków UT</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



    <!--<script>-->
    <!--$(document).ready(function () {-->
    <!--$("#button").click(function () {-->
    <!--$("#success").show("");-->
    <!--});-->
    <!--});-->

    <!--</script>-->

</head>

<body>


<div class="container">
    <div th:replace="general.html :: header"></div>

    <!--<div class="row">-->
    <!--<div id="success" class="col">-->
    <!--<div class="alert alert-primary" role="alert">-->
    <!--Dodałeś(aś) nowe słowo do bazy !! :)-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">

        <div class="col">

            <form th:action="@{/userCreator}" th:object="${user}" method="post">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input class="form-control" type="text" th:field="*{name}"/></td>
                        <td class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}">Name Error
                        </td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td><input class="form-control" type="text" th:field="*{lastName}"/></td>
                        <td class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}">lastName Error
                        </td>
                    </tr>
                    <tr>
                        <td>Login:</td>
                        <td><input class="form-control" type="text" th:field="*{login}"/></td>
                        <td class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('login')}"
                            th:errors="*{login}">login Error
                        </td>
                    </tr>
                    <tr>
                        <td>Hasło:</td>
                        <td><input class="form-control" type="password" th:field="*{password}"/></td>
                        <td class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}">password Error
                        </td>
                    </tr>
                    <td>
                        <button class="btn btn-primary" type="submit">Dodaj użytkownika</button>
                    </td>
                </table>
            </form>


        </div>

    </div>


    <footer style="text-align: center">

        <p><span style="text-decoration:none;color:grey;">Developed by KrUcHy</span>
        </p>

    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>



