<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dane z TRISTAR'a</title>

    <link rel="stylesheet" type="text/css" href="../css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="../css/leaflet-loader.css"/>
    <script type='text/javascript' src='../js/jquery.min.js'></script>
    <script type='text/javascript' src='../js/leaflet.js'></script>
    <script type='text/javascript' src='../js/leaflet-loader.js'></script>
    <script type='text/javascript' src='../js/leaflet-layerjson.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>


<div th:replace="general.html :: header"></div>


<div th:if="${random.word} != 'null'" class="container">
    <div class="row">
        <div class="col">
            <p>

                <button th:text="${random.word}" class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Button with data-target
                </button>
            </p>

            <div class="collapse" id="collapseExample">
                <div th:text="${random.translatedWord}" class="card card-body">

                </div>
            </div>
        </div>
    </div>


    <div class="row">


        <div class="col">

            <button class="btn btn-danger" onClick="window.location.reload()" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Nie Umiem
            </button>
        </div>
        <div class="col">
            <form method="POST" th:action="@{'/update?add='+${random.addDate}}">
                <button class="btn btn-success" type="submit" name="submit" value="value">Umiem</button>

            </form>
        </div>
    </div>


</div>


<div th:if="${random.word} == 'null'" class="container">
    <div class="alert alert-success" role="alert">
        Umiesz Wszystkie słówka z bazy !! :)
    </div>
</div>

<footer style="text-align: center">

    <p><span style="text-decoration:none;color:grey;">Developed by KrUcHy</span>
    </p>

</footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>
