

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nauka angielskich słówek</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">



    <script>
    $(document).ready(function(){
    $("#button").click(function(){
    $("#success").show("<div class=\"alert alert-primary\" role=\"alert\">\n" +
    "  This is a primary alert with <a href=\"#\" class=\"alert-link\">an example link</a>. Give it a click if you like.\n" +
    "</div>");
    });
    });
    </script>

</head>

<body>


<div th:replace="general.html :: header"></div>

<div class="container">


    <div class="row">
        <!--<div id="success" class="row"></div>-->
        <div class="col">
            <form th:action="@{/wordCreator}" th:object="${word}" method="post">
                <div th:text="'Słowo :'"></div>
                <input type="text" th:field="*{word}" autocomplete="off">
                <div th:text="'Tłumaczenie :'"></div>
                <input type="text" th:field="*{translatedWord}" autocomplete="off">

                <input id="button" type="submit" th:value="'Wyślij'">
            </form>


        </div>
    </div>

    <footer style="text-align: center">

        <p><span style="text-decoration:none;color:grey;">Developed by KrUcHy</span>
        </p>

    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>



